* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to bottom, #000000 95%, #fff 100%);
     min-height: 100svh;
    padding: 1rem;
}
main {
    max-width: 450px;
    width: 100%;
    color: white;
    border-radius: 11px;
    border: 1px solid #fff;
    min-height: 400px;
    padding: 1rem 1.5rem;
    text-align: center;
}
.add-container, .edit-and-filter-container {
    display: flex;
    border-radius: 11px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 1rem;
    font-size: .8rem;
    text-align: left;
    margin: 10px;
    transition: .3s;
}
 .add-container input, .edit-and-filter-container input{
    padding: 10px;
    border-radius: 11px;
    margin-top: 6px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff
}

.add-container button, .edit-and-filter-container button, .edit-completed-btn {
    padding: .6rem;
    background-color: transparent;
    color: white;
    width: 100%;
    margin: 16px 6px 0;
    border: 1px solid white;
    border-radius: 11px;
} 

.search-filter-container {
    display: flex;
}
.search-container input {
    padding: .8rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 11px;
    margin: 6px 0;
}

.filter-container {
    border-left: 1px solid #fff;
    padding: .8rem;
}
select {
    padding: .5rem 1rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 11px;
    outline: none;
}

option {
    background-color: #111;
    color: #fff;
}
select:hover { 
    cursor: pointer;
 }
.task-container {
    display: flex;
    flex-direction: column;

}

 .task-list {
    padding: 1rem;
    margin: 8px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff; 
    border-radius: 11px;
 }
 .hide {
    display: none;
 }
 
 .action-button {
      display: flex;
      justify-content: space-around;
      align-items: center;
 }
 
 .action-button button {
    padding: .5rem;
    margin: 0 5px;
    border: 1px solid #fff;
    border-radius: 11px;
    background-color: transparent;
    color: white;
 }



 .conclused {
    font-style: italic;
    text-decoration: line-through;
 }