@media screen and (max-width: 650px) {
    main {
        margin: 0 15px;
    }
}

@media (max-width: 450px) {
    .add-container input {
        width: 150px;
    }

    #filter {
        width: 88px;
    }

    .search-container label {
        font-size: 0.6rem;
    }

    .search-container input, .search-container button {
        width: 130px;
    }
    .action-button {
        display: flex;
        flex-direction: column;
    }
    .action-button button {
        padding: .3rem;
        margin-bottom: 5px;
        width: 80px;
    }

  
}